# Copy this to local.env and fill in your values
# DO NOT commit local.env to git!

# TODO: remove?? Possibly not needed, not used anywhere
# Git repository
GIT_REPO_URL=https://github.com/mcht67/Polyphonic-Bird-Call-Dataset.git

# Git user info
GIT_USERNAME="Your Username"
GIT_EMAIL="your.email@example.com"

# Hugging Face token
HUGGINGFACE_TOKEN="your_hf_token_here"

# Docker Hub username for pushing/pulling Docker images
DOCKERHUB_USERNAME="your_dockerhub_username"